# Compilation
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packaging
build/
dist/
wheels/
*.egg
*.egg-info

# Testing
.pytest_cache/
.hypothesis/

# Coverage
.tox*
.coverage*
.metacov
coverage.json
coverage.xml
coverage.lcov

# Other tools
.ruff_cache/

# Virtual environments
.venv

# Others
.DS_Store
.python-version

# Personal
.env
tmp/
project.xpr
*.gz
*.zip
